.navMain{
    background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    height: auto;
    background-size: 100% 100%;

}
.nav{
    display: flex;
    height: 200px;
    width:auto;
    justify-content: space-around;
    align-items: center;
}

.menuBurgerList{
    height:0;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.menuBurgerListActive{
    height:auto;
    opacity: 1;
    visibility: visible;
}

.navMenu{
    display: flex;
    width: 85%;
    height: 85%;
    justify-content: space-around;
}
.nav .navMenu h1 {
    display: flex;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500;
    width:30%;
    align-items: center;
    font-size: 2.2em;
    transition-property: all;
    transition-duration: 1s;
}

.nav .navMenu h1:hover {
    color: deepskyblue;
}

.listCompany {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
    justify-content: center;
}

.list_it{
    display: flex;
    padding: 0 15px;
    list-style-type:none;
    align-items: center;
}

.list_it a {
    color:white;
    font-family: 'Ubuntu',sans-serif;
    font-weight:300;
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
    transition-property: all;
    transition-duration: 1s;
}

.list_it_active {
    padding-bottom: 10px;
}
.menuBurger{
    display: none;
}

.btnShowNav{
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, white 20%, transparent 21%, transparent 40%,
                                white 41%, white 60%, transparent 61%, transparent 80%,
                                white 81%, white 100%);
    border:none;
}

.btnShowNavActive{
    background: linear-gradient(45deg,transparent 45%, white 46%, white 55%, transparent 56%),
                linear-gradient(-45deg,transparent 45%, white 46%, white 55%, transparent 56%);
}

.list_it a:hover {
    color:deepskyblue;
    font-size: 2em;
}

@media (max-width: 1090px) {
    .navMenu{
        flex-direction:column;
    }
    .listCompany{
        flex-direction:column;
    }
    .nav{
        height: auto;
    }
    .nav .navMenu h1{
        width:100%;
        justify-content: center;
        font-size: 3.3em;
    }
    .nav .navMenu li{
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 35px;
    }
}

@media(max-width:700px) {
    .listCompany{
        display: none;
    }
    .menuBurger{
        display: flex;
        align-items: center;
    }
    .navMenu{
        flex-direction:row;
    }
    .nav .navMenu h1{
        font-size: 2em;
        width:70%;
    }
    .btnShowNav p{
        font-size: 45px;
        margin:0;
        color: white;
        transition-property: all;
        transition-duration: 1s;
    }
}
